.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
.footer-button {
    background: none;
    border: none;
    text-align: center;
    font-size: 1em;
    text-decoration: none; 
  color: black; 
  }
  
.footer-button .button-icon {
    display: block;
    margin: 0 auto;
    width: 24px;  
    height: 24px;
  }
  
.footer-button a {
    text-decoration: none;  
    color: black;           
    font-weight: bold;
  }