.text {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    padding: 25px;
    margin: 5px auto;
    color: #000;
    background-color: #eee8e7;
    border-radius: 20px;
    text-align: center;
}

