.question-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 20px;
}

.question-box {
  max-width: 50%;
  padding: 10px;
  margin: 5px 0;
  word-wrap: break-word; 
  color: #000;
  background-color: #eee8e7;
  align-self: flex-start;
  border-radius: 20px 20px 20px 0;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin: 5px;
}

button:hover {
  background-color: #444;
}

button:active {
  background-color: #222;
}

.feedback-container {
  margin-top: 10px;
  font-size: 14px;
  color: #ff0000;
}
